
/* page common */
[class$="component"] {position:relative;max-width:1280px;padding:0 20px}

[class^="icon"] {display:inline-block;text-indent:-9999em;background-position:0 0;background-repeat:no-repeat}

.grid-container {}
.grid-list {display:flex; margin:-12px; flex-wrap:wrap}
.grid-item {flex:0 0 20%;padding:12px 12px}

.section {}
.section .section-header {position:relative;border-bottom:1px solid var(--border-color);padding-bottom:15px;display:flex;align-items:center;justify-content:space-between;}
.section .section-header .title {font-size:20px;color:var(--dark);font-weight:800}
.section .section-header .title.sub {font-size:15px}
.section .section-header .subtext {font-size:13px;color:var(--text-muted);}
.section .section-header .btn {height:50px;}
.section .section-header .btn .text {font-weight:700}
.section .section-header .text-link .text {font-weight:600}
.section .section-header.borderless {border-bottom:transparent}
.section ~ .section {margin-top:var(--spacer-6)}


.page-header {position:relative;margin-bottom:var(--spacer);display:flex;align-items:center;justify-content:space-between;}
.page-header .header {}
.page-header .title {font-size:20px;color:var(--primary);font-weight:800}
.page-header .header-tabs {display:flex}
.page-header .header-tabs .tab-item {}
.page-header .header-tabs .tab-item ~ .tab-item {margin-left:calc(var(--spacer-1) * 3)}
.page-header .header-tabs .title {color:var(--text-muted);}
.page-header .header-tabs .text-secondary {color:var(--text-muted) !important}
.page-header .header-tabs .is-active .title {color:var(--primary)}
.page-header .header-tabs .is-active .text-secondary {color:var(--secondary) !important}
.page-header .subtext {padding-top:var(--spacer-2); font-size:13px;color:var(--text-muted);}
.page-header.bordered {position:relative;border-bottom:1px solid var(--border-color);padding-bottom:var(--spacer)}

/* Page Bottoms */
.page-buttons {position:relative;margin-top:var(--spacer-6);display:flex;}
.page-buttons .btn {height:60px;padding-left:30px;padding-right:30px;}
.page-buttons .btn ~ .btn {margin-left:10px;}
.page-buttons .btn .text {font-size:15px;font-weight:800}
.page-buttons .text-muted {font-size:13px;}
.page-buttons.is-wide {}
.page-buttons.is-wide .btn {min-width:270px;height:70px;}
.page-buttons.is-wide .text {font-size:20px;}
.page-buttons.is-bordered {padding-top:var(--spacer-4);margin-top:var(--spacer-4);border-top:1px solid var(--border-color)}

/* bottom-notice */
.bottom-notice {position:relative;padding-top:var(--spacer-4)}
.bottom-notice .text {font-size:13px;line-height:1.54;color:var(--text-muted)}

.none-contents {position:relative;text-align:center;padding-top:60px;border-top:1px solid var(--border);margin-top:-10px}
.none-contents .content-text {font-size:20px;padding-bottom:var(--spacer-5);color:var(--text-muted)}
.none-contents .btn {}
.none-contents .btn .text {font-weight:700}
.none-contents .content-icon {margin-bottom:20px}
.none-contents .content-icon .icon-none {width:40px;height:40px;background-image:url(../img/mypage/icon_none.svg);}
.none-contents.is-borderless {border-top:0;}

.list-search {display:flex;align-items:center;justify-content:space-between;margin-bottom:var(--spacer-5)}
.list-search .period-unit-list {display:flex}
.list-search .period-unit-list .unit-item {margin-right:10px;}
.list-search .period-unit-list .btn {background-color:var(--gray-100)}
.list-search .period-unit-list .unit-item.is-active .btn {background-color:var(--primary)}
.list-search .period-unit-list .text {line-height:23px}
.list-search .period-form-field {}
.list-search .period-form-field .input-group {}
.list-search .period-form-field .input-group-text {height:36px;padding:0 var(--spacer-2)}
.list-search .period-form-field .form-control {width:120px;height:36px}
.list-search .period-form-field .btn {width:54px;margin-left:var(--spacer-2)}
.list-search .period-form-field .text {line-height:23px;}

.round-tabs {display:flex;justify-content:center;padding-top:50px}
.round-tabs .tab-list {display:inline-flex;padding:5px;border-radius:30px;background-color:var(--gray-200)}
.round-tabs .tab-item {}
.round-tabs .tab-link {position:relative;display:inline-block;padding:15px 70px;border-radius:25px;min-width:200px;text-align:center}
.round-tabs .tab-text {font-size:clamp(13px,1.8vw,15px);font-weight:800;white-space:nowrap;vertical-align:middle;color:var(--gray-700)}
.round-tabs .is-selected {}
.round-tabs .is-selected .tab-link {background-color:var(--white)}
.round-tabs .is-selected .tab-text {color:var(--dark)}
.round-tabs.is-fluid {}
.round-tabs.is-fluid .tab-list {flex:1;}
.round-tabs.is-fluid .tab-item {width:50%;}
.round-tabs.is-fluid .tab-link {display:block;text-align:center;}
.round-tabs + .section {margin-top:50px}

.detail-info-container {}
.detail-info-container .info-list {display:flex;flex-wrap:wrap;line-height:1.4;}
.detail-info-container .info-title {flex:0 0 100px;width:100px;margin-top:var(--spacer-4);}
.detail-info-container .info-title .text {font-weight:700}
.detail-info-container .info-description {flex:0 0 calc(100% - 100px);width:calc(100% - 100px);margin-bottom:0;margin-top:var(--spacer-4)}
.detail-info-container .info-description .text {font-weight:700}
.detail-info-container .info-description.whole {flex:0 0 100%; width:100%;margin-top:var(--spacer)}
.detail-info-container .info-description.whole .text {font-size:13px;}

.detail-info-container .info-title,
.detail-info-container .info-description {line-height:1;}

/* Layer */
.layer-popup {z-index:100;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%); border-radius:var(--spacer);background-color:var(--white);}
.layer-popup .popup-body {position:relative;padding:var(--spacer-7) calc(var(--spacer-4) * 2);}
.layer-popup .popup-body .text {color:#000}
.layer-popup .popup-buttons {display:flex;}
.layer-popup .popup-buttons .popup-button {flex:1;height:70px;text-align:center;border-top:1px solid var(--border-color)}
.layer-popup .popup-buttons .popup-button ~ .popup-button {border-left:1px solid var(--border-color)}
.layer-popup .popup-buttons .text {color:var(--text-muted)}
.layer-popup-dim {z-index:99;position:fixed;left:0;right:0;top:0;bottom:0;background-color:rgba(0,0,0,.2)}

/* Board */
.board-list-container {font-size:15px;line-height:25px;}
.board-list-container .board-list-header {position:relative;margin-bottom:var(--spacer-4)}
.board-list-container .board-list-header .header {font-size:clamp(15px,2.4vw,30px);font-weight:800}
.board-list-container .board-list {border:solid var(--border-color);border-width:1px 0} 
.board-list-container .board-item{}
.board-list-container .board-item ~ .board-item {border-top:1px solid var(--border-color)}
.board-list-container .board-block *{line-height:1.2}
.board-list-container .board-title{position:relative;display:flex;justify-content:space-between;padding:var(--spacer-4) 0;min-width:0;}
.board-list-container .board-title .text {white-space:nowrap;}
.board-list-container .board-title strong.text {font-weight:800}
.board-list-container .board-title .cell-type {padding:0 var(--spacer)}
.board-list-container .board-title .cell-number {flex:0 0 130px; padding:0 var(--spacer)}
.board-list-container .board-title .cell-title {flex:1 1 auto;text-align:left;padding-left:var(--spacer);}
.board-list-container .board-title .cell-title .text-link {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.board-list-container .board-title .cell-writer {padding:0 var(--spacer-5)}
.board-list-container .board-title .cell-date {padding:0 var(--spacer-5)}
.board-list-container .board-title .cell-status {width:140px;text-align:center;padding:0 var(--spacer-5);}
.board-list-container .board-title [class^="cell-"]:not(.cell-title) {flex-shrink:0;}
.board-list-container .board-title .cell-arrow {}
.board-list-container .board-title .cell-arrow .icon-arrow{width:14px;height:12px;background-image:url(../img/common/icon_board_arrow.svg)}
.board-list-container .board-content {display:none;position:relative;padding-right:40%;padding-bottom:var(--spacer-4)}
.board-list-container .board-content .type{padding:0 var(--spacer);white-space:nowrap;}
.board-list-container .board-content .answer{padding:0 var(--spacer)}
.board-list-container .board-content .content{padding:0 var(--spacer)}
.board-list-container .board-content .cell-type{padding:0 var(--spacer);white-space:nowrap;}
.board-list-container .board-content .cell-answer{padding:0 var(--spacer)}
.board-list-container .board-content .cell-number{padding:0 var(--spacer);}
.board-list-container .board-content .cell-content{padding:0 var(--spacer)}
.board-list-container .board-content .cell-content .text {line-height:1.45;}
.board-list-container .cell-arrow {}
.board-list-container .cell-arrow .arrow-link {display:inline-block;padding:0 20px}
.board-list-container .cell-type {flex:0 0 clamp(70px,12vw,160px)}
.board-list-container .is-collapse .board-content{display:flex;}
.board-list-container .is-collapse .icon-arrow {transform:rotate(-180deg);}
.board-list-container.viewer .cell-date {flex:0 0 160px}
.board-list-container.viewer .board-title {padding:var(--spacer) 0}
.board-list-container.viewer .board-title .cell-type {padding-left:0;font-weight:700}
.board-list-container.viewer .board-title .text {font-weight:700}
.board-list-container.viewer .board-title .cell-date .text {font-weight:400}
.board-list-container.viewer .board-content {padding-bottom:var(--spacer)}
.board-list-container.viewer .board-content .cell-number {padding-left:0;font-weight:700;flex:0 0 130px;}
.board-list-container.viewer .board-content .cell-type {padding-left:0;font-weight:700}
.board-list-container.viewer .board-content .cell-date {}
.board-list-container.viewer .board-content.boarded {border-top:1px solid var(--border-color);padding-top:var(--spacer)}
.board-list-container.viewer .board-content {display:flex}
.board-list-container.viewer .board-content .cell-answer {font-weight:700}
.board-list-container.viewer .board-content .content-image {padding:var(--spacer) 0;max-width:100%;height:auto}
.board-list-container.viewer .board-content .content-image img {max-width:100%}

/* list-tabs */
.list-tabs {position:relative;margin-bottom:30px}
.list-tabs .tab-group {display:flex;align-items:center}
.list-tabs .group-header {padding-right:30px;color:#999;font-size:15px;white-space:nowrap;font-weight:800}
.list-tabs .tab-list {display:block;white-space:nowrap;}
.list-tabs .tab-item {display:inline-block;}
.list-tabs .tab-item ~ .tab-item {margin-left:10px}
.list-tabs .tab-item:last-child{margin-right:var(--container-padding-x)} 
.list-tabs .tab-link{display:block;border-radius:5px;padding:11px 15px 10px;background-color:#ebebeb;white-space:nowrap;}
.list-tabs .tab-text{font-size:13px;color:#111;font-weight:800}
.list-tabs .tab-count{font-size:13px;color:#999;font-weight:700}
.list-tabs .btn-delete {position:absolute;right:0;top:0;transform:translateX(30%) translateY(-30%);}
.list-tabs .btn-delete .icon-delete {width:15px;height:15px;background-image:url(../img/common/icon_delete_circle.svg)}
.list-tabs .tab-item.is-selected {}
.list-tabs .tab-item.is-selected .tab-link {background-color:var(--primary)}
.list-tabs .tab-item.is-selected .tab-text {color:#fff;}
.list-tabs .tab-item.is-selected .tab-count {color:#bbb;}

/* list-top-container */
.list-top-container {display:flex;justify-content:space-between;align-items:center; padding-bottom:15px;border-bottom:1px solid #ebebeb}
.list-top-container .top-header {display:flex;align-items:center;}
.list-top-container .top-header .title {font-size:clamp(13px,1.4vw,15px);color:#242424;margin-right:5px;font-weight:800}
.list-top-container .top-header .count {font-size:clamp(13px,1.4vw,15px);color:#bbb;font-weight:700}
.list-top-container .top-options {}
.list-top-container .top-options .option-list {display:flex}
.list-top-container .top-options .option-item {margin-left:clamp(7px,1.4vw,15px)}
.list-top-container .top-options .option-link {}
.list-top-container .top-options .option-text {font-size:clamp(13px,1.4vw,15px);color:#bbb;font-weight:800}
.list-top-container .top-options .is-selected {}
.list-top-container .top-options .is-selected .option-text{color:#242424}
.list-top-container.is-borderless {border-bottom:none}
.list-top-container .top-column {display:flex;align-items:center}
.list-top-container .top-date {}
.list-top-container .top-date .text {font-weight:800}
.list-top-container .top-actions {}
.list-top-container .top-actions .detailed-link {display:inline-flex;align-items:center;}
.list-top-container .top-actions .detailed-link .icon-arrow {width:20px;height:20px;background-image:url(../img/mypage/icon_arrow_right.svg);}
.list-top-container .top-actions .text {font-weight:800}
.list-top-container .top-order .text {font-weight:700 !important}
.list-top-container .subtext {display:flex;align-items:center;}
.list-top-container .subtext.dot .icon-dot {display:inline-block;width:3px;height:3px;border-radius:3px;background-color:var(--gray-600);margin:0 var(--spacer-2)}
.list-top-container .subtext.notice {padding-left:23px;font-size:13px;font-weight:800}
.list-top-container .subtext.notice .icon-warning {width:20px;height:20px;margin-right:var(--spacer-2);background-image:url(../img/mypage/icon_notice.svg);background-size:20px auto}
.list-top-container .number {display:inline-block;margin-right:var(--spacer-2)}
.list-top-container .top-column {}
.list-top-container .top-column .header-link {display:inline-flex;align-items:center;}
.list-top-container .top-column .text {font-weight:800}
.list-top-container .top-column .icon-arrow {width:20px;height:20px;background-image:url(../img/mypage/icon_arrow_right.svg)}

.sub-list-top-container {display:flex;align-items:center;justify-content:space-between;padding-bottom:calc(var(--spacer) * 0.75);border-bottom:1px solid var(--border-color)}
.sub-list-top-container .top-left {display:flex;align-items:center}
.sub-list-top-container .header {font-weight:800}
.sub-list-top-container .subtext {display:flex;align-items:center;}
.sub-list-top-container .subtext.dot .icon-dot {display:inline-block;width:3px;height:3px;border-radius:3px;background-color:var(--gray-600);margin:0 var(--spacer-2)}
.sub-list-top-container .subtext.notice {padding-left:23px;font-size:13px;font-weight:800}
.sub-list-top-container .subtext.notice .icon-warning {width:20px;height:20px;margin-right:var(--spacer-2);background-image:url(../img/mypage/icon_notice.svg);background-size:20px auto}
.sub-list-top-container .number {display:inline-block;margin-right:var(--spacer-2)}
.sub-list-top-container .top-right {}
.sub-list-top-container .top-right .header-link {display:inline-flex;align-items:center;}
.sub-list-top-container .top-right .text {font-weight:800}
.sub-list-top-container .top-right .icon-arrow {width:20px;height:20px;background-image:url(../img/mypage/icon_arrow_right.svg)}
.sub-list-top-container.borderless {border-bottom:transparent}

/* Product Component */
/* product */
.product-card {position:relative;}
.product-card .product-image {position:relative;width:100%;height:0;padding-top:100%;overflow:hidden;border-radius:var(--border-radius)}
.product-card .product-image .image-link{position:absolute;left:0;right:0;top:0;bottom:0;background-color:#ccc;border-radius:5px}
.product-card .product-image .image-link img{width:100%;height:100%;object-fit:cover}
.product-card .product-image .image-badge{position:absolute;left:0;bottom:0;display:flex}
.product-card .product-image .image-badge .badge-item {color:var(--white);display:flex;width:40px;height:40px;align-items:center;justify-content:center;font-family:var(--font-family-blacksans);font-size:13px;}
.product-card .product-image .image-badge .badge-item.primary {background-color:var(--primary)}
.product-card .product-image .image-badge .badge-item.secondary {background-color:var(--secondary)}
.product-card .product-image .image-badge .badge-item.sky {background-color:#299CC3}
.product-card .product-image .image-badge .badge-item.white {background-color:var(--white);color:var(--secondary)}
.product-card .product-info{position:relative;padding-top:clamp(15px,1.57vw,20px)}
.product-card .product-info .title{}
.product-card .product-info .title-link{}
.product-card .product-info .title-link .text{font-size:clamp(13px,1.375vw,16px);line-height:1.5em;font-weight:800}
.product-card .product-title .title-link{}
.product-card .product-title .title-link .text{font-size:clamp(13px,1.375vw,16px);line-height:1.35;font-weight:800}
.product-card .product-info .subtext {font-size:13px;font-weight:700;padding-top:var(--spacer-1)}
.product-card .product-info .options {padding-top:var(--spacer-1)}
.product-card .product-info .options .mobile {display:none}
.product-card .product-info .price{padding-top:clamp(5px,.8vw,10px); font-weight:800;font-size:clamp(13px,1.375vw,15px)}
.product-card .product-info .price .price-discount {color:var(--secondary)}
.product-card .product-info .benefit{padding-top:clamp(9.5px,1.45vw,18.5px);}
.product-card .product-info .benefit .badge {font-weight:700}
.product-card .btn-delete {position:absolute;right:0;top:0;transform:translate(25%,-25%);}
.product-card .btn-delete .icon-delete {width:30px;height:30px;background-image:url(../img/common/icon_delete_circle@24.svg);background-size:30px;height:30px;}
.product-card.is-row {display:flex;}
.product-card.is-row .product-image {flex:0 0 120px;width:120px;height:120px;padding-top:0;overflow:hidden;}
.product-card.is-row .product-info {display:flex;flex-direction:column;justify-content:space-between; padding-top:var(--spacer-2);padding-bottom:var(--spacer-2);padding-left:var(--spacer-4)}

.product-list-container {position:relative;}
.product-list-container ~ .product-list-container {margin-top:50px}
.product-list-container .list-header {display:flex;align-items:center; justify-content:space-between; padding-bottom:calc(var(--spacer-1) * 3);border-bottom:1px solid var(--border-color);text-align:center;}
.product-list-container .list-header .text {font-weight:700}
.product-inner {display:flex;align-items:center;padding:var(--spacer) 0}
.product-list-container [class^="cell"]:not(.cell-content) {text-align:center;}
.product-list-container .cell-content {flex:1 1 auto}
.product-list-container .cell-check {flex:0 0 60px}
.product-list-container .cell-title {flex:1 1 auto;text-align:left !important;}
.product-list-container .cell-check ~ .cell-title {padding-left:var(--spacer-4);}
.product-list-container .cell-quanity {flex:0 0 150px;text-align:center}
.product-list-container .cell-price {flex:0 0 11.7%;} 
.product-list-container .cell-shipping {flex:0 0 10%;}
.product-list-container .grid-list {margin:-25px -10px}
.product-list-container .grid-item {padding:25px 10px}
.product-inner .cell-buttons {}
.product-inner .button-list .button-item {}
.product-inner .button-list .button-item ~ .button-item {margin-top:15px}
.product-inner .button-list .link-text {}
.product-inner .button-list .link-text .text {font-size:15px;font-weight:700}
.product-inner .product-card .product-info .title-link .text {font-size:15px;font-weight:400}
.product-inner .product-card .product-info .options .text {font-size:15px}
.product-inner .product-card .product-info .price {font-size:15px;}
.product-list-container .product-item:last-child {margin-bottom:-20px}
.product-list-container .product-item ~ .product-item {border-top:1px solid var(--border-color)}
.product-list-container .list-bottom {position:relative;padding-top:var(--spacer);border-top:1px solid var(--border-color)}
.product-list-container .list-bottom .text {font-weight:700}
.product-list-container .list-body.boarded {border:solid var(--border-color);border-width:1px 0}
.product-list-container .list-body.top {border-top:1px solid var(--border-color);}

.product-quantity {display:flex;width:150px;}
.product-quantity .btn-control {width:clamp(40px,4.5vw,50px);height:clamp(40px,4.5vw,50px);background-color:var(--gray-200);border-radius:50%;}
.product-quantity .btn-control i {width:15px;height:15px}
.product-quantity .btn-control i.icon-plus {background-image:url(../img/common/icon_quantity_plus.svg);}
.product-quantity .btn-control i.icon-minus {background-image:url(../img/common/icon_quantity_minus.svg);background-position:0 50%}
.product-quantity input {width:clamp(40px,4.5vw,50px);height:clamp(40px,4.5vw,50px);text-align:center;font-size:16px;font-weight:700}
.product-quantity input[type="number"]::-webkit-outer-spin-button,
.product-quantity input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none;margin:0;}

/* live-card */
.live-card {position:relative;}
.live-card .link-live {}
.live-card .live-video {position:relative;}
.live-card .live-video .video-watch {z-index:2;position:absolute;top:clamp(10px ,1vw, 15px);left:clamp(10px ,1vw, 15px);display:inline-flex;border-radius:5px;background-color:rgba(0, 0, 0, .2);height:clamp(22px,5vw,29px);padding:0 10px;align-items:center;}
.live-card .live-video .video-watch .icon-watch {width:14px;height:11px;margin-right:var(--spacer-1);background:url(../img/common/icon_watch.svg) no-repeat 0 0}
.live-card .live-video .video-watch .text {font-size:12px;font-weight:800;color:#fff;}
.live-card .live-video .video-player {overflow:hidden;position:relative;width:100%;height:0;padding-top:calc(425 / 240 * 100%);background-color:#f1f1f1;border-radius:5px}
.live-card .live-video .video-player video {position:absolute;top:0;left:0;bottom:0;right:0;}
.live-card .live-video .video-player img {position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;object-fit:cover;z-index:10}
.live-card .live-video .video-badge {z-index:2;position:absolute;right:0;top:-20px;width:clamp(40px,5.4vw,60px);height:44px;background:url(../img/common/badge_live.svg) no-repeat 100% 100%;background-size:clamp(40px,5.4vw,60px) auto;}
.live-card .video-airtime {position:absolute;top:0;left:0;bottom:0;right:0;padding-bottom:80px;background-color:rgba(0,0,0,.3);display:flex;align-items:center;justify-content:center;flex-direction:column;}
.live-card .video-airtime .airtime-date{display:block;font-size:15px;color:#fff;font-weight:800;}
.live-card .video-airtime .airtime-time{display:block;font-size:clamp(40px,4.7vw,50px);margin-top:10px;color:#fff;font-weight:800}
.live-card .video-airtime .airtime-notify {display:flex;align-items:center;margin-top:10px;padding:10px;height:44px;border-radius:var(--border-radius);background-color:var(--white)}
.live-card .airtime-notify .icon-airtime {width:16px;height:20px;margin-right:var(--spacer-1);background:url(../img/common/icon_bell.svg) no-repeat}
.live-card .airtime-notify .text {color:var(--text-muted)}
.live-card .airtime-notify.is-active {background-color:var(--primary)}
.live-card .airtime-notify.is-active .text {color:var(--white)}
.live-card .airtime-notify.is-active .icon-airtime {background-image:url(../img/common/icon_bell_active.svg)}
.live-card .video-content {position:absolute;bottom:0;left:0;right:0;background-color:rgba(17,17,17,.9);padding:15px;display:flex;justify-content:space-between;align-items:center;border-bottom-left-radius:5px;border-bottom-right-radius:5px;min-width:0;}
.live-card .video-content-title {}
.live-card .video-text-link {display:inline-block;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:top;}
.live-card .video-content-title .text {font-size:13px;color:#fff;font-weight:700;}
.live-card .video-content-group {max-width:calc(100% - clamp(40px,4vw,50px))}
.live-card .video-content-price {padding-top:5px;font-size:13px;font-weight:800}
.live-card .video-content-price .price-discount {color:var(--secondary)}
.live-card .video-content-price .price-current {color:var(--white)}
.live-card .video-content-image {flex:0 0 clamp(40px,4vw,50px);width:clamp(40px,4vw,50px);height:clamp(40px,4vw,50px);border-radius:5px;overflow:hidden;}
.live-card .video-content-image img {width:100%;height:100%;object-fit:cover}
.live-card .live-title {margin-top:clamp(15px,1.57vw,20px);font-weight:800}
.live-card .live-title .text {overflow:hidden;text-overflow:ellipsis;display:block;line-height:1.5em;font-size:clamp(13px,1.375vw,16px);white-space:nowrap;}
.live-card .live-channel {padding-top:var(--spacer-2)}
.live-card .live-channel .text {font-size:13px;color:var(--text-muted);font-weight:800}
.live-card .live-channel .icon-time {width:9px;height:11px;background:url(../img/common/icon_video_time.svg) no-repeat 0 0}
.live-card .live-bottom {display:flex;align-items:center; padding-top:clamp(5px,1.18vw,15px);}
.live-card .live-bottom .text {font-size:clamp(11px,1.3vw,13px);color:var(--text-muted);font-weight:800}
.live-card .live-bottom .icon-duration {position:relative;top:-1px;width:9px;height:11px;background:url(../img/common/icon_video_time.svg) no-repeat 0 0}
.live-card .live-bottom .bottom-duration {margin-left:var(--spacer-1);white-space:nowrap;}
.live-card .live-airtime {padding-top:var(--spacer-2)}
.live-card .live-airtime .text {font-size:13px; color:var(--red);font-weight:800}
.live-card.is-onair {}
.live-card.is-onair .bottom-duration{display:none;}
.live-card.is-end {}
.live-card.is-end .video-onair{display:none}
.live-card.is-end .video-badge {display:none}

.review-card {position:relative;padding:var(--spacer-4) 0;}
.review-card .review-row {display:flex;}
.review-card .review-inner {flex:1 1 auto}
.review-card .review-top {display:flex;align-items:center;margin-bottom:10px;}
.review-card .top-rating {display:flex;align-items:center}
.review-card .top-option {position:relative;margin-left:calc(var(--spacer) * 0.75)}
.review-card .top-option .text{font-size:14px;color:var(--gray-600)}
.review-card .review-body {padding-right:20%}
.review-card .review-body .text {font-size:15px;line-height:1.65;}
.review-card .review-bottom {display:flex;padding-top:calc(var(--spacer) * 1.25)}
.review-card .review-bottom .bottom-reviewer {}
.review-card .review-bottom .bottom-reviewer .text{font-size:13px;}
.review-card .review-bottom .bottom-date {margin-left:var(--spacer-2)}
.review-card .review-bottom .bottom-date .text{font-size:13px;}
.review-card .review-image {position:relative;padding-top:var(--spacer)}
.review-card .review-image .image-list {display:flex;}
.review-card .review-image .image-item {width:160px;height:160px;border-radius:var(--border-radius)}
.review-card .review-image .image-item ~ .image-item {margin-left:var(--spacer-2);}
.review-card .review-image img {width:100%; height:100%; object-fit:cover}
.review-card .review-like {flex:0 0 62px;width:62px;}
.review-card .review-like .btn-like {display:block;}
.review-card .review-like .icon-like {width:62px;height:62px;background-image:url(../img/common/icon_review_like.svg);margin-bottom:var(--spacer-1);}
.review-card .review-like .text {display:block;font-size:15px;font-weight:700}
.review-card .review-like.is-active {}
.review-card .review-like.is-active .btn-like {}
.review-card .review-like.is-active .icon-like {background-image:url(../img/common/icon_review_like_active.svg);}
.review-card .review-like.is-active .text {color:var(--primary)}

.rating-wrapper {display:flex;align-items:center;}
.rating-wrapper .rating {display:flex;}
.rating-wrapper .star {display:block;background-image:url(../img/common/icon_star_default.svg);background-position:0 0;background-repeat:no-repeat}
.rating-wrapper .star.is-active {background-image:url(../img/common/icon_star.svg);}
.rating-wrapper .rating-text {display:block;margin-left:var(--spacer-2);transform:translateY(-1px);}
.rating-wrapper .rating-text .text{font-size:15px;}
.rating-sm {}
.rating-sm .star {position:relative;top:-1px;width:16px;height:16px;background-size:16px auto;}
.rating-sm .rating-text .text {font-weight:700;font-size:clamp(13px,1.4vw,15px);vertical-align:middle;}
.rating-lg {}
.rating-lg .star {position:relative;top:-3px;width:32px;height:32px;background-size:32px auto}
.rating-lg .rating-text .text {font-size:clamp(20px,3.5vw,30px);font-weight:800}

.detail-qna {}
.detail-qna .qna-container {font-size:15px;line-height:25px;}
.detail-qna .qna-list{border:solid var(--border-color);border-width:1px 0} 
.detail-qna .qna-item{}
.detail-qna .qna-item ~ .qna-item {border-top:1px solid var(--border-color)}
.detail-qna .qna-block{}
.detail-qna .qna-title{position:relative;display:flex;justify-content:space-between;padding:var(--spacer-4) 0;min-width:0;}
.detail-qna .qna-title .text {white-space:nowrap;}
.detail-qna .qna-title .cell-type {padding:0 var(--spacer)}
.detail-qna .qna-title .cell-title {flex:1 1 auto;text-align:left;padding-left:var(--spacer);}
.detail-qna .qna-title .cell-writer {padding:0 var(--spacer-5)}
.detail-qna .qna-title .cell-date {padding:0 var(--spacer-5)}
.detail-qna .qna-title .cell-status {width:140px;text-align:center;padding:0 var(--spacer-5)}
.detail-qna .qna-title [class^="cell-"]:not(.cell-title) {flex-shrink:0;}
.detail-qna .qna-content {display:none;position:relative;padding-right:40%;padding-bottom:var(--spacer-4)}
.detail-qna .qna-content .type{padding:0 var(--spacer);white-space:nowrap;}
.detail-qna .qna-content .answer{padding:0 var(--spacer)}
.detail-qna .is-collapse .qna-content{display:flex;}

/* Order Component */
/* order step */
.order-step {width:100%; background-color:var(--gray-100);}
.order-step .order-component {display:flex;align-items:center;justify-content:center;height:80px;}
.order-step .step-list {display:flex;align-items:center;justify-content:center;}
.order-step .step-item {position:relative;}
.order-step .step-item:not(:first-child):before {content:'';display:inline-block;width:20px;height:20px;margin:0 var(--spacer);background:url(../img/mypage/icon_step_arrow.svg) no-repeat 50%;opacity:.5}
.order-step .step-text {white-space:nowrap;font-size:20px;color:var(--text-muted);font-weight:800}
.order-step .step-item.is-active {}
.order-step .step-item.is-active .step-text {color:var(--primary);}
.order-step .step-item.is-active:before {background-image:url(../img/mypage/icon_step_arrow_active.svg);opacity:1;}

/* order payment */
.order-payment {position:relative;background-color:var(--gray-100);margin-bottom:var(--spacer-5)}
.order-payment .price-list {display:flex;justify-content:space-between;}
.order-payment .payment-item {flex:1;text-align:center;padding:var(--spacer-6) 0}
.order-payment .payment-item:not(:last-child) {border-right:1px solid var(--white)}
.order-payment .payment-item * {font-weight:800}
.order-payment .payment-item .item-header {margin-bottom:var(--spacer-2)}
.order-payment .payment-item .item-price {position:relative;display:inline-block}
.order-payment .payment-item .price {display:block;font-size:25px;}
.order-payment .payment-item .price-unit {font-size:25px;}
.order-payment .payment-item .quantity {position:absolute;top:50%;right:0;transform:translateX(calc(100% + 5px)) translateY(-50%); color:var(--gray-500);display:inline-block}
.order-payment .payment-item.is-active * {color:var(--primary)}

.order-checkout {}
.order-checkout .checkout-list {padding:var(--spacer-2) 0;}
.order-checkout .checkout-item {position:relative;display:flex;justify-content:space-between;padding:var(--spacer-2) 0}
.order-checkout .header {font-weight:700}
.order-checkout .text {font-weight:700}
.order-checkout .checkout-total {display:flex;justify-content:space-between; padding:25px 0;border:solid var(--border-color);border-width:1px 0;align-items:center;}
.order-checkout .checkout-total .price {}
.order-checkout .checkout-total .price .text{font-size:25px;font-weight:800}
.order-checkout .checkout-agree {position:relative;padding-top:var(--spacer-4);text-align:center;}
.order-checkout .checkout-agree .form-check-link {display:inline-block;margin-left:var(--spacer-1);font-size:13px}

.page-search-layer {position:fixed;left:0;right:0;top:0;bottom:0;background-color:rgba(235,235,235,.95);z-index:2000}
.page-search-layer .layer-inner {max-width:1080px;margin:auto;padding:clamp(15px, 1vw, 50px) clamp(95px, 4vw, 110px)}
.page-search-layer .search-fields {position:relative}
.page-search-layer .search-fields .form-control {border-color:var(--primary);border-radius:var(--border-radius-pill)}
.page-search-layer .search-fields .btn-search {position:absolute;top:50%;right:20px;transform:translateY(-50%);}
.page-search-layer .search-fields .icon-search {width:20px;height:20px;background-image:url(../img/common/icon_form_search.svg)}
.page-search-layer .search-fields .btn-search-close {position:absolute;top:0;right:0;transform:translateX(calc(100% + 30px));width:50px;height:50px;background-color:var(--dark);border-radius:var(--border-radius-pill);}
.page-search-layer .search-fields .icon-close {width:14px;height:14px;background-image:url(../img/common/icon_search_close.svg)}
.page-search-layer .search-result {position:relative;margin-top:clamp(15px, 3vw, var(--spacer));padding:clamp(15px, 3vw, var(--spacer-4));background-color:var(--white);border-radius:10px;box-shadow:0 20px 40px rgba(0,0,0,.05)}
.page-search-layer .search-result .result-group {position:relative;}
.page-search-layer .search-result .result-group ~ .result-group {margin-top:clamp(15px, 3vw, var(--spacer-4))}
.page-search-layer .search-result .group-header {margin-bottom:var(--spacer-1)}
.page-search-layer .search-result .group-header .title {font-weight:800;font-size:clamp(13px,1.5vw,15px)}
.page-search-layer .search-result .keyword-list {display:flex;flex-wrap:wrap}
.page-search-layer .search-result .keyword-item {margin-top:var(--spacer-2);margin-right:var(--spacer-2)}
.page-search-layer .search-result .keyword-link {display:block;height:36px;padding:10px 15px;background-color:var(--gray-100);line-height:initial;}
.page-search-layer .search-result .keyword-link .text {font-size:13px;color:#444;}
.page-search-layer .search-result .btn-delete {position:absolute;right:0;top:0;}
.page-search-layer .search-result .btn-delete .text {font-size:13px;font-weight:700}


@media (max-width:1023.98px) {
    
    .grid-scroll-container {max-width:100vw;}
    .grid-scroll-container {overflow-y:hidden;overflow-x:auto}
    .grid-scroll-container .grid-list {position:relative;flex-wrap:nowrap}
    .grid-scroll-container .grid-item {flex:0 0 40vw;width:40vw}
    .grid-scroll-container .item-link {display:flex}
    .grid-scroll-container .item-link:after {content:'';display:inline-block;width:25px}
    .grid-list {flex-wrap:wrap; margin:-8px}
    .grid-item {flex:0 0 33.3%;padding:8px 8px;width:33.3%;}
    .safari .grid-item {flex:0 0 50%;width:50%}
    
    .page-header {margin-bottom:30px}
    .page-header .title {font-size:16px}

    .order-step .order-component {height:64px}
    .order-step .step-item:not(:first-child):before {width:10px;height:10px;background-size:6px auto;background-image:url(../img/mypage/icon_step_arrow_white.svg)}

    .list-tabs {}
    .list-tabs .tab-group {display:block;}
    .list-tabs .group-header {display:block;margin-bottom:10px;font-size:13px;}
    .list-tabs .tab-scroll-wrapper {overflow-x:auto;margin:0 calc(var(--container-padding-x) * -1);padding-top:5px}
    .list-tabs .tab-list {padding:0 var(--container-padding-x);}

    .review-card {padding:25px 0 23px}
    .review-card .review-body .text {font-size:14px}
    
    .board-list-container .board-title {padding-top:24px;padding-bottom:24px}
    .board-list-container .board-content {padding-bottom:18.5px;padding-right:35px;margin-top:-9px}
    .board-list-container .board-content .cell-type {display:none;}
    .board-list-container .board-content .cell-content {padding-left:0}
    .board-list-container .text {font-size:14px}
    
    .product-quantity .btn-control i {width:12px;height:12px;background-size:12px auto}

    .list-search {margin-bottom:40px}
    .list-search .period-unit-list .text {font-size:13px}
    .list-search .period-unit-list .btn {height:30px;padding:0 10px}
    .list-search .period-form-field .form-control {font-size:13px;flex:0 0 120px;height:32px}
    .list-search .period-form-field .input-group-text {padding:0 5px}
    .list-search .period-form-field .text {font-size:13px;padding:0 10px}
    .list-search .period-form-field .btn {height:30px}

    .page-buttons {margin-top:var(--spacer-6);}
    .page-buttons .btn {height:49px;padding-left:30px;padding-right:30px;}
    .page-buttons .btn ~ .btn {margin-left:15px;}
    .page-buttons .text-muted {font-size:13px;}
    .page-buttons .btn .text {font-size:14px}

    .product-inner .product-card .product-info .title-link .text,
    .product-inner .product-card .product-info .status .text,
    .product-inner .product-card .product-info .options .text,
    .product-inner .product-card .product-info .price .text {font-size:14px;}
    .product-inner .button-list .link-text .text {font-size:12px}
    .product-inner .button-list .button-item ~ .button-item {margin-top:10px}

    .order-step {margin-bottom:32px;}
    .order-step .step-text {font-size:14px}
    .order-step .step-item:not(:last-child):after {width:15px;height:15px;background-size:5px auto}

    .order-payment {margin-bottom:56px}
    .order-payment .payment-item .item-header {font-size:14px}
    .order-payment .payment-item .price {font-size:20px;}
    .order-payment .payment-item .quantity {font-size:14px}

    .section .section-header {}
    .section .section-header .title {}
    .section .section-header .title {font-size:18px}
    .section .section-header .title.sub {font-size:14px}
    .section .section-header .text-link .text {font-size:14px}
    .section .section-header .btn {height:41px;}
    .section .section-header .btn .text {font-size:15px;font-weight:700}
    .section ~ .section {margin-top:55px}
    
    .detail-info-container .info-list {font-size:14px}
    .detail-info-container .info-title,
    .detail-info-container .info-description {margin-top:20px;}
    .detail-info-container .info-description .text-muted {font-size:13px}

    .list-tabs .tab-link {}
    .list-tabs .tab-link {padding:9px 15px 5px}
    .list-tabs .tab-text {font-size:12px;}
    .list-tabs .tab-count {font-size:12px}


}

@media (max-width:767.98px) {

    .round-tabs + .section {margin-top:40px}
    .product-card.is-row .product-info {padding-left:20px}

    .product-card .product-info .benefit .badge {font-size:11px}

    .page-search-layer .search-fields .form-control {height:38px}
    .page-search-layer .search-fields .btn-search {right:15px}
    .page-search-layer .search-fields .icon-search {width:17px;height:17px;background-size:17px auto}
    .page-search-layer .search-fields .btn-search-close {height:38px;width:38px;transform:translateX(calc(100% + 10px));}
    .page-search-layer .search-fields .icon-close {width:10px;height:10px;background-size:10px}

    .live-card .video-content {padding:10px;}
    .live-card .video-content-title .text {font-size:11px}
    .live-card .video-content-price {font-size:11px}
    .live-card .live-video .video-watch .text {font-size:10px}
    .live-card .live-video .video-watch .icon-watch {width:10px;height:8px;background-size:10px auto}

    .list-tabs .tab-link {}
    .list-tabs .group-header {margin-bottom:5px}
    .list-tabs .tab-link {height:36px;padding-top:13px}
    .list-tabs .tab-text {font-size:13px;}
    .list-tabs .tab-count {font-size:13px}

    .rating-sm .rating-text .text {font-size:15px}
    .review-card {padding:24.5px 0 24.5px}
    .review-card .review-top {margin-bottom:17px}
    .review-card .review-like {flex:0 0 50px;width:50px;margin-top:0;display:flex;}
    .review-card .review-like .btn-like {margin-top:}
    .review-card .review-like .icon-like {width:50px;height:50px;background-size:50px auto;margin-bottom:0;}
    .review-card .review-like .text {font-size:13px;}
    .review-card .review-image .image-item {width:105px;height:105px}
    .review-card .review-bottom {padding-top:13px}

    .board-list-container .text {font-size:13px}
    .board-list-container .board-list {border-top:none}
    .board-list-container .board-list-header {margin-bottom:20px}
    .board-list-container .board-list-header .header {color:var(--primary)}
    
    .board-list-container .board-item {position:relative;}
    .board-list-container .board-title {padding-right:35px}
    .board-list-container .board-title {flex-wrap:wrap;justify-content:flex-start;padding:19.5px 0 18.5px}
    .board-list-container .board-title .cell-type {display:none;}
    .board-list-container .board-title .cell-title {flex:0 0 100%;padding-left:0}
    .board-list-container .board-title .cell-status {flex:0 0 100%;padding:0;text-align:left;padding-top:18px}
    .board-list-container .board-title .cell-writer {padding-left:0}
    .board-list-container .board-title .cell-date {padding-left:0}
    .board-list-container .board-title .cell-writer,
    .board-list-container .board-title .cell-date {font-size:13px;color:var(--gray-800)}
    .board-list-container .board-title .cell-arrow {position:absolute;right:0;top:50%;transform:translateY(-50%);}
    .board-list-container .board-title .cell-title.text-truncate {text-overflow:initial;}
    .board-list-container .board-title .cell-title .text {white-space:normal;}

    .list-search {display:block;margin-bottom:50px}
    .list-search .period-unit-list .btn {height:40px;padding:0 20px}
    .list-search .period-unit-list .text {font-size:13px;font-weight:800}
    .list-search .period-form-field {padding-top:20px}
    .list-search .period-form-field .input-group {flex:auto}
    .list-search .period-form-field .form-control {height:40px;font-size:13px;padding-left:10px;text-align:center;flex:auto}
    .list-search .period-form-field .form-control:before {display:none}
    .list-search .period-form-field .input-group-text {height:40px;padding:0 5px}
    .list-search .period-form-field .text {font-size:13px;font-weight:800}
    .list-search .period-form-field .btn {min-width:64px;height:40px}

    .product-card .product-info .options .mobile {display:inline-block}
    
    .product-list-container ~ .product-list-container {margin-top:40px}

    .page-buttons {margin-top:40px;}
    .page-buttons.is-wide .btn,
    .page-buttons .btn {height:47px;padding-left:30px;padding-right:30px;flex:auto}
    
    .page-buttons .btn ~ .btn {margin-left:10px;}
    .page-buttons .text-muted {font-size:13px;}
    .page-buttons .btn .text {font-size:13px}

    .product-inner {flex-wrap:wrap}
    .product-inner .cell-buttons {flex:0 0 100%;padding-top:20px}
    .product-inner .cell-buttons .button-list {display:flex;margin:-5px;flex-wrap:wrap}
    .product-inner .button-list .button-item {flex:0 0 50%; padding:5px;margin:0 !important}
    .product-inner .button-list .link-text {display:block;border:1px solid var(--border);border-radius:var(--border-radius);padding:15px 0}
    .product-inner .button-list .link-text .text {font-size:13px;font-weight:800}
    .product-inner .button-list .button-item.is-fill {flex:0 0 100%}
    .product-inner .button-list .button-item.is-fill .text {font-weight:700}
    
    .order-step {margin:0 calc(var(--container-padding-x) * -1) 40px;width:auto;background-color:var(--primary);}
    .order-step .order-component {padding:0;}
    .order-step .step-text {color:var(--white);font-size:13px;opacity:.5}
    .order-step .step-item.is-active .step-text {color:var(--white);opacity:1;}
    .order-step .step-item:not(:last-child):after {background-image:url(../img/mypage/icon_step_arrow_white.svg);margin:0;height:12px}

    .order-payment {margin-bottom:40px}
    .order-payment .price-list {display:block;padding:40px var(--container-padding-x)}
    .order-payment .payment-item {display:flex;justify-content:space-between;border:none;padding:0;}
    .order-payment .payment-item .item-header,
    .order-payment .payment-item .price {font-size:15px;font-weight:700}
    .order-payment .payment-item .price {display:inline-block}
    .order-payment .payment-item .quantity {}
    .order-payment .payment-item .item-price .quantity {display:none}
    .order-payment .payment-item.is-active {margin-top:15px;padding-top:20px;border-top:1px solid var(--border)}
    .order-payment .payment-item.is-active .item-header {text-indent:-9999em;}
    .order-payment .payment-item.is-active .item-price * {font-size:20px;font-weight:800}

    .order-checkout {background-color:var(--gray-100);margin:0 calc(var(--container-padding-x) * -1)}
    .order-checkout .checkout-list {padding:35px 0 15px;margin:0 var(--container-padding-x)}
    .order-checkout .checkout-item {position:relative;display:flex;justify-content:space-between;padding:var(--spacer-2) 0}
    .order-checkout .header {font-weight:700}
    .order-checkout .text {font-weight:700}
    .order-checkout .checkout-total {justify-content:flex-end; padding-top:20px;padding-bottom:20px;margin:0 var(--container-padding-x);border-bottom:0}
    .order-checkout .checkout-total .header {display:none}
    .order-checkout .checkout-total .price {}
    .order-checkout .checkout-total .price .text{font-size:20px;font-weight:800}
    .order-checkout .checkout-agree {position:relative;padding:20px var(--container-padding-x);text-align:center;background-color:#fff}
    .order-checkout .checkout-agree .form-check-link {display:inline-block;margin-left:var(--spacer-1);font-size:13px}

    .product-list-container .cell-check {}
    
    .detail-info-container .info-list {font-size:15px}
    .detail-info-container .info-title,
    .detail-info-container .info-description {margin-top:14px;}
    .detail-info-container .info-description.whole {margin-top:5px}
    .detail-info-container .info-description.whole .text {font-size:13px;}
    .detail-info-container .info-description .text {font-weight:normal}

    .section .section-header .title.sub {font-size:16px}
    .section .section-header .text-link .text {font-size:13px}
    
}

@media (max-width:575.98px) {
    .grid-list {margin:-15px -12.5px}
    .grid-item {flex:0 0 50%;padding:15px 12.5px;width:50%}
}

@media (min-width:320px) and (max-width:1199.98px) {}

.safari a:hover {font-size:inherit}